#CountryLabel{
    padding-left: 0.5rem;
    font-size: 30px;
}

#FaktureringsAdress{
    padding-left: 0.3rem;
    font-size: 30px;
}

#LeveransAdress{
    padding-left: 0.3rem;
    font-size: 30px;
}